* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
    background-color: #B5C6BD;
}

menu .contenedor {
  display: grid;
  align-content: center;
  text-align: center;
  margin-top: 2cm;
}

menu .contenedor .logo img{
    height: 70px;
}

menu .contenedor .imagen img{
    height: 13cm;
}

menu .contenedor p{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD
.encabezado nav ul li ul{
  display: flex;
  flex-direction: column;
}
.encabezado nav ul li ul{
  position: absolute;
  background:  white;
}
.encabezado nav ul li ul li{
  width: 180px;
  position: relative;
}

.encabezado nav ul li ul li a{
  color: black;
}

.encabezado nav ul li ul li ul{
  top: 0;
  left: 180px;
  position: absolute;
}
.encabezado nav ul li ul{
  display: none;
}
.encabezado nav ul li:hover > ul{
  display: block;
  color: white;
}

header h1{
  font-family: Arial;
  font-size: 4rem;
  color: white;
}

header p{
  font-family: arial;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 1cm;
}

form{
  margin-top: 1cm;
}

form #email{
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.35);
  padding: 15px;
  width: 6cm;
  background: transparent;
}

form #phone{
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.35);
  padding: 15px;
  width: 6cm;
  background: transparent;
}

form #buttom{
  background: none;
  padding: 18px;
  width: 3cm;
  border: none;
  background-color: #7ebf88;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
=======
>>>>>>> parent of b5cf8bd (update)
