* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 158%2c 0%2c 0.85)'%3e%3c/rect%3e%3cpath d='M724.4211535712942 472.376437212989L876.5417344936346 357.97249112486435 724.5403592611495 290.29711866501566z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M941.41 383.81 a143.38 143.38 0 1 0 286.76 0 a143.38 143.38 0 1 0 -286.76 0z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M777.8612465576292 149.10218247633196L734.4860600090446-25.575206226990375 619.420162930905 81.72547869833839z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1031.653%2c538.312C1077.067%2c538.824%2c1123.229%2c519.155%2c1143.959%2c478.745C1163.391%2c440.863%2c1146.324%2c396.723%2c1122.325%2c361.557C1101.723%2c331.368%2c1068.169%2c315.728%2c1031.653%2c314.182C991.653%2c312.488%2c948.83%2c319.953%2c926.629%2c353.27C902.255%2c389.847%2c901.953%2c438.036%2c923.649%2c476.262C945.615%2c514.964%2c987.155%2c537.81%2c1031.653%2c538.312' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1449.352215922305 294.2308288038462L1306.8796615045221 329.60904044187686 1394.3975868958496 423.460525197811z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1141.43 492.47 a128.57 128.57 0 1 0 257.14 0 a128.57 128.57 0 1 0 -257.14 0z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M116.90553805586919 453.7599743086839L106.31561452583497 302.31701222156454-45.12734756128441 312.9069357515988-34.5374240312502 464.3498978387181z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M209.419%2c433.548C229.268%2c433.034%2c247.964%2c425.168%2c259.171%2c408.777C272.18%2c389.752%2c281.782%2c364.881%2c269.857%2c345.159C258.164%2c325.821%2c232.012%2c326.017%2c209.419%2c326.495C187.986%2c326.949%2c164.82%2c329.575%2c153.258%2c347.628C140.952%2c366.843%2c142.514%2c392.373%2c154.998%2c411.473C166.478%2c429.036%2c188.444%2c434.091%2c209.419%2c433.548' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M400.605964848081 418.68047929333477L413.10927100795885 299.71946760553004 281.64495316027626 406.1771731334569z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M500.58 366.56 a161.71 161.71 0 1 0 323.42 0 a161.71 161.71 0 1 0 -323.42 0z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M997.656%2c106.083C1027.75%2c107.485%2c1059.891%2c99.588%2c1075.589%2c73.874C1091.817%2c47.293%2c1086.648%2c13.451%2c1070.445%2c-13.145C1054.926%2c-38.619%2c1027.485%2c-54.185%2c997.656%2c-54.045C968.072%2c-53.906%2c940.242%2c-38.42%2c926.045%2c-12.465C912.364%2c12.547%2c916.621%2c42.753%2c931.362%2c67.155C945.563%2c90.665%2c970.22%2c104.805%2c997.656%2c106.083' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1138.0275173209222 469.0066090979212L1060.6837784662512 418.7789977994124 1010.4561671677423 496.1227366540836 1087.7999060224136 546.3503479525924z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M262.413%2c408.297C278.165%2c407.627%2c292.276%2c398.76%2c299.849%2c384.932C307.131%2c371.635%2c305.407%2c355.983%2c298.433%2c342.522C290.745%2c327.682%2c279.07%2c314.04%2c262.413%2c312.674C243.483%2c311.121%2c223.909%2c319.156%2c214.462%2c335.634C205.056%2c352.041%2c208.602%2c372.588%2c219.018%2c388.373C228.414%2c402.612%2c245.368%2c409.022%2c262.413%2c408.297' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M195.74 324.62 a144.45 144.45 0 1 0 288.9 0 a144.45 144.45 0 1 0 -288.9 0z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1043.1 352.52 a101.79 101.79 0 1 0 203.58 0 a101.79 101.79 0 1 0 -203.58 0z' fill='rgba(57%2c 25%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

nav{
  position: sticky;
  top: 0;
}

.nav{
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-around;
}

.nav .buttons ul{
  display: flex;
  list-style: none;
}

.nav .buttons ul li{
  padding: 10px;
  margin: 5px;
}

.nav .buttons ul .c1{
  background-color: #ff7b00;
}

.nav .buttons ul a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav .logo img{
  width: 150px;
}

.container-fluid{
  display: flex;
  width: 30cm;
  height: 15cm;
  margin-top: 4cm;
  color: black;
  gap: 3cm;

}

.container-fluid h1{
  margin-top: 7cm;
  background-color: black;
  height: 60px;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  padding: 30px;
}

.container p{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.datos{
  margin-top: 1cm;
}

#nombre, #apellido, #celular, #correo{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 8cm;
  height: 1cm;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 20px;
}