*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    
}

nav{
  position: sticky;
  top: 0;
  z-index: 99;
}

.navegacion{
  display: flex;
  justify-content: center;
  background-color: white;
}

.navegacion a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.navegacion #boton{
  text-align: center;
  padding: 12px;
  height: 50px;
  width: 160px;
  border-radius: 25px;
  transition: all 200ms;
  display: flex;
  justify-content: center;
}

.navegacion #boton .h-6{
  width: 20px;
  margin-top: -5.5px;
}

.navegacion #boton:hover{
  background-color: #ff7f50;
  color: white;
}

.navegacion ul{
  margin-top: 15px;
  gap: 4cm;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .navegacion ul{
    gap: 2cm;
  }
}

.navegacion img{
  width: 200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;

}