* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

#navegador{
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav{
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-around;
}

.nav .buttons ul{
  display: flex;
  list-style: none;
}

.nav .buttons ul li{
  padding: 10px;
  margin: 5px;
}

.nav .buttons ul .c1{
  background-color: #ff7b00;
}

.nav .buttons ul a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav .logo img{
  width: 150px;
}

.container .title{
  color: black;
  text-align: center;
  margin-top: 2cm;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.container .promociones{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 26cm;
  margin: auto;
  cursor: pointer;
}

.container .promociones .caja{
  height: 10cm;
  width: 7cm;
  background-color: white;
  margin: auto;
  margin-top: 3cm;
  transition: 500ms;
}

.container .promociones .caja img{
  width: 100%;
  box-shadow: 0px 0px 30px 0px black;
}

.container .promociones .caja:nth-child(2){
  transform: scale(1.1, 1.1);
}

.container .promociones .caja:nth-child(2):hover{
  transform: scale(1.3, 1.3);
}

.container .promociones .caja:hover{
  transform: scale(1.1, 1.1);
}

#navegacion {
  width: 70%;
  margin: auto;
}

#navegacion a{
  text-decoration: none;
  color: white;
}

#navegacion ul{
  display: flex;
  background-color:#ff7b00;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(15px);
  color: white;
  justify-content: space-around;
  padding: 10px;
  margin-top: 5cm;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#navegacion ul li{
  cursor: pointer;
  padding: 10px;
  transition: 500ms;
}

#navegacion ul li:hover{
  background-color: rgb(73, 73, 73);
}

section{
  width: 70%;
  margin: auto;
  margin-top: 2cm;
  height: 17cm;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.356);
  background-color: white;
  backdrop-filter: blur(15px);
}

section .title{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: 20px;
}

section .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 2cm;
}

section .caja{
  height: 10cm;
  margin: auto;
  background-color: white;
  width: 7cm;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  transition: 500ms;
  box-shadow: 0px 0px 20px 0px black;
}

section .caja:hover{
  box-shadow: 0px 0px 30px 0px black;
  transform: scale(1.1, 1.1);
}

section .caja .imagen{
  width: 100%;
  height: 4.5cm;
  margin: auto;
}

  section .caja .imagen img{
    width: 100%;
    height: 100%;
    border-bottom: 4px solid black;
    border-top-left-radius: 10%;
    border-top-right-radius: 10% ;
  }

  section .caja .imagen .text{
    border-bottom: 4px solid black;
  }

  section .caja .imagen p{
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  section .caja .imagen .cantidad{
    display: flex;
    justify-content: center;
  }

  section .caja .imagen .cantidad input{
    width: 2cm;
    margin-left: 15px;
  }

  section .caja .imagen .cantidad label{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  section .caja .imagen .boton{
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #ff7b00;
    height: 1.6cm;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
    font-size: 3vh;
    cursor: pointer;
    transition: 500ms;
  }

  section .caja .imagen .boton:hover{
    background-color: #5a2c02;
  }


  section .caja .imagen .text p{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  section .more{
    text-align: right;
    width: 3cm;
    margin-left: auto;
    display: grid;
    font-size: 20px;
    margin-right: 1cm;
    margin-top: 1.5cm;
    align-items: center;
    cursor: pointer;
  }

  section .more p{
    padding: 3px;
    text-align: center;
    color: white;
    background-color: #ff7b00;
  }

  #button{
    display: flex;
    justify-content: center;
    margin-top: 2cm;
  }

  #button button{
    background: black;
    border: none;
    color: white;
    padding: 20px;
    width: 130px;
    cursor: pointer;
    font-size: 18px;
    transition: 300ms;
  }

  #button button:hover{
    background-color: rgb(73, 73, 73);
  }

@media screen and (max-width: 1440px) {
  .container .title{
    font-size: 10px;
  }

  .container .promociones .caja{
    width: 6cm;
  }

  #navegacion ul{
    padding: 1px;
    font-size: 18px;
  }
  
  section{
    width: 80%;
  }

  section .caja{
    transform: scale(0.8, 0.8);
  }

  section .caja:hover{
    transform: scale(0.9, 0.9);
  }

}

@media screen and (max-width: 1335px){
  section{
    height: 30cm;
  }

  section .caja{
    transform: scale(1,1);
    margin-top: 40px;
  }

  section .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2cm;
  }
}

@media screen and (max-width: 1000px){
  .container .promociones{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }

}

@media screen and (max-width: 730px){
  section .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 2cm;
  }

  section{
    height: 55cm;
    box-shadow: none;
  }

  section .caja .imagen .boton{
    font-size: 30px;
  }

  .nav .buttons ul a{
    font-size: 10px;
  }

  .nav .buttons ul{
    display: none;
  }

  #navegacion{
    width: auto;
  }

}