* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient( rgba(46, 47, 48, 0.7), rgba(33, 37, 43, 0.7) ), url(https://images.pexels.com/photos/1508666/pexels-photo-1508666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-attachment: fixed;
}

nav{
  position: sticky;
  top: 0;
}

.nav{
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
}

.nav .buttons ul{
  display: flex;
  list-style: none;
}

.nav .buttons ul li{
  padding: 10px;
  margin: 5px;
}

.nav .buttons ul .c1{
  background-color: #7CC68C;
}

.nav .buttons ul a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav .logo img{
  width: 150px;
}

header .container{
  height: 12cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: -2.5cm;
  margin-top: 2.5cm;
}

.container .text{
  display: grid;
  align-content: center;
}

.container .text p{
  color: white;
  text-align: left;
  font-size: 1.3cm;
  font-family: arial;
  padding-left: 3cm;
}

.container .ubicacion{
  display: grid;
  align-content: center;
  justify-content: center;
}

.container .ubicacion input{
  width: 13cm;
  padding: 15px;
  margin-top: 10px;
}

.container .ubicacion label{
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: arial;
}

menu{
  background-color: rgba(0,0,0,0.7);
  margin-top: -15px;
}

menu .locales{
  height: 20cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

menu .locales .text{
  color: white;
  display: grid;
  align-content: center;
  text-align: right;
}

menu .locales .text button{
  width: 7cm;
  background: #7CC68C;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  margin-left: auto;
  font-family: arial;
}

menu .locales h1{
  font-weight: bold;
  font-family: arial;
  font-size: 1.3cm;
}

menu .locales p{
  font-size: 1cm;
  font-family: arial;
}

menu .locales .img{
  display: grid;
  align-content: center;
  justify-content: left;
  padding: 3cm;
}

menu .locales img{
  width: 500px
}

#proveedores{
  background-color: white;
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
}

#proveedores .provee{
  height: 8cm;
  display: flex;
  justify-content: center;
}

#proveedores .title{
  text-align: center;
  font-size: 1.5rem;
  font-family: arial;
  padding: 30px;
}

#proveedores .provee img{
  width: 200px;
  height: 200px;
  margin: 1cm;
}

#reseñas{
  background-color: rgba(0,0,0,0.5);
  height: 15cm;
  padding: 1cm;
}

#reseñas .title{
  text-align: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: arial;
  padding: 30px;
  color: white;
}

#reseñas .comen{
  display: flex;
  justify-content: center;
}