* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Ultra&display=swap');

body{
  background: linear-gradient( to right,rgba(251, 255, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(247, 78, 0, 0.5) ) , url(https://images.unsplash.com/photo-1544070078-a212eda27b49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

nav{
  position: sticky;
  top: 0;
}

.nav{
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-around;
}

.nav .buttons ul{
  display: flex;
  list-style: none;
}

.nav .buttons ul li{
  padding: 10px;
  margin: 5px;
}

.nav .buttons ul .c1{
  background-color: #ff7b00;
}

.nav .buttons ul a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav .logo img{
  width: 150px;
}

header .container{
  height: 12cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: -2.5cm;
  margin-top: 2.5cm;
}

.container .text{
  display: grid;
  align-content: center;
}

.container .text p{
  color: white;
  text-align: left;
  font-size: 1.5cm;
  font-family: 'Luckiest Guy', cursive;
  padding-left: 3cm;
}

.container .ubicacion{
  display: grid;
  align-content: center;
  justify-content: center;
}

.container .ubicacion input{
  width: 13cm;
  padding: 15px;
  margin-top: 10px;
  transition: 500ms;
}

.container .ubicacion button{
  height: 1.4cm;
  width: 3cm;
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  border: 2px solid #ff7b00;
  transition: 500ms;
  cursor: pointer;
}

.container .ubicacion button:hover{
  background-color: #ff7b00;
}

.container .ubicacion input:hover{
  border: 5px solid #ff7b00;
}

.container .ubicacion label{
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: arial;
}

#punt{
  margin-top: -15px;
  height: 8cm;
  background-color: white;
}

#punt .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-content: center;
}

#punt .icons{
  margin-right: auto ;
  margin-left: auto;
  text-align: center;
}

#punt .icons p{
  margin-top: 30px;
  font-size: 1cm;
  font-family: 'Luckiest Guy', cursive;
}

#punt .icons img{
  width: 150px;
}

menu{
  background-color: rgba(0,0,0,0.7);
}

menu .locales{
  height: 20cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

menu .locales .text{
  color: white;
  display: grid;
  align-content: center;
  text-align: right;
}

menu .locales .text button{
  width: 7cm;
  background: #ff7b00;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  margin-left: auto;
  font-family: arial;
}

menu .locales h1{
  font-weight: bold;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.3cm;
}

menu .locales p{
  font-size: 1cm;
  font-family: arial;
}

menu .locales .img{
  display: grid;
  align-content: center;
  justify-content: left;
  padding: 3cm;
}

menu .locales img{
  width: 500px
}

#proveedores{
  background-color: white;
  box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
}

#proveedores .provee{
  height: 8cm;
  display: flex;
  justify-content: center;
}

#proveedores .title{
  text-align: center;
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  padding: 30px;
}

#proveedores .provee img{
  width: 130px;
  height: 130px;
  margin: 1cm;
}

#reseñas{
  background-color: rgba(0,0,0,0.5);
  height: 15cm;
  padding: 1cm;
}

#reseñas .title{
  text-align: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Luckiest Guy', cursive;
  padding: 30px;
  color: white;
}

#reseñas .comen{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px){
  .container .text p{
    font-size: 40px;
  }

  .container .ubicacion input{
    width: 12cm;
  }

  #punt .icons img{
    width: 130px;
  }

  #punt .icons p{
    font-size: 30px;
  }

  menu .locales{
    margin-bottom: -3cm;
  }

  menu .locales h1{
    font-size: 40px;
  }

  menu .locales p{
    font-size: 30px;
  }

  menu .locales img{
    width: 10cm;
  }

  #proveedores .provee img{
    width: 130px;
    height: 90px;
  } 
}

footer{
  display: flex;
  justify-content: center;
  gap: 5cm;
  background-color: black;
  padding: 2cm;
 }

 footer ul{
  list-style: none;
  color: white;
 }

 footer a{
  text-decoration: none;
  color: white;
 }

 footer img{
  width: 150px;
 }

@media screen and (width: 1440px) {
  footer{
    gap: 2cm;
  }
}